.footer {
    background-color: #222;
    bottom: 0;
    display: flex;
    overflow-x: hidden;
  }
  
  .footer-wrapper {
    padding: 5rem;
    margin: 0 auto;
    clear: both;
    text-align: center;
  }
  
  .footer-text {
    font-size: 1rem;
    color: #fff;
  }
  